@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 195 100% 26.5%; /* Couleur principale modifiée en #005467 */
    --primary-foreground: 0 0% 100%; /* Texte en blanc */
    --secondary: 194 100% 43.9%; /* Couleur secondaire modifiée en #067790 */
    --secondary-foreground: 0 0% 100%; /* Texte en blanc */
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 195 100% 26.5%; /* Couleur principale modifiée en #005467 */
    --primary-foreground: 0 0% 100%; /* Texte en blanc */
    --secondary: 194 100% 43.9%; /* Couleur secondaire modifiée en #067790 */
    --secondary-foreground: 0 0% 100%; /* Texte en blanc */
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.link-item {
  position: relative;
}

.link-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 32px); /* Largeur de la navbar - marge */
  height: 2px;
  background-color: transparent;
  transition: width 0.3s ease;
}

.link-item:hover::after {
  width: 100%; /* La bordure s'étend sur toute la largeur de la navbar */
  background-color: #005467; /* Couleur de la bordure au survol */
}
